<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to 'test app.', root_path %> hello <%= current_user.email if user_signed_in? %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to 'Departments', departments_path, class: 'p-2 text-dark' %>
    <%= link_to 'Employees', employees_path, class: 'p-2 text-dark' %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-primary' if !user_signed_in? %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-primary' if !user_signed_in? %>
    <%= link_to 'Log Out', destroy_user_session_path, data: { confirm: 'Are you sure?', method: :delete }, class: 'btn btn-outline-primary' if user_signed_in? %>
  </nav>
</div>
